body {
    background-color: gray;

    h1 {
        color: red;
    }
}

ul {
    direction: flex;
    flex-direction: row;
}

.timer {
    border: 1px solid black;
    margin-top: 20px;
}

#startBtn {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
#stopBtn {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}